<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<Form>
		<FormPath>$env:DIMS\gui\mainForm.xaml</FormPath>
		<LoaderPath>$env:DIMS\gui\loader.ps1</LoaderPath>
	</Form>
	<exportPath>
		<tempPath>$env:DIMS\temp\</tempPath>
		<logPath>$env:DIMS\log\</logPath>
	</exportPath>
	<adSearchBase>
		<wksDN>OU=Ln,OU=L4,OU=L3,OU=L2,OU=L1,DC=test,DC=domain,DC=ru</wksDN>
		<usrDN>OU=Ln,OU=L4,OU=L3,OU=L2,OU=L1,DC=test,DC=domain,DC=ru</usrDN>
	</adSearchBase>	
</Settings>
